<a href="https://colab.research.google.com/github/Tantatorn-dev/crypto_ml/blob/main/cipher_text_challenge_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset
Download dataset from [Kaggle](https://www.kaggle.com/c/ciphertext-challenge-ii/). This dataset is about 186.71 MB.

In [1]:
import os 
os.environ['KAGGLE_CONFIG_DIR'] = "/content/drive/My Drive/Kaggle"

In [2]:
%cd /content/drive/My Drive/Kaggle/cipher_text_challenge

/content/drive/My Drive/Kaggle/cipher_text_challenge

In [3]:
!kaggle competitions download -c ciphertext-challenge-ii

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.4)
Downloading training.csv.zip to /content/drive/My Drive/Kaggle/cipher_text_challenge
 67% 15.0M/22.4M [00:00<00:00, 14.4MB/s]
100% 22.4M/22.4M [00:00<00:00, 35.3MB/s]
Downloading sample_submission.csv to /content/drive/My Drive/Kaggle/cipher_text_challenge
  0% 0.00/655k [00:00<?, ?B/s]
100% 655k/655k [00:00<00:00, 42.6MB/s]
Downloading test.csv.zip to /content/drive/My Drive/Kaggle/cipher_text_challenge
 83% 57.0M/68.5M [00:02<00:00, 18.4MB/s]
100% 68.5M/68.5M [00:02<00:00, 26.4MB/s]

In [4]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  training.csv.zip
  inflating: training.csv

Archive:  test.csv.zip
  inflating: test.csv

2 archives were successfully processed.

# Exploratory Data Analysis
มาดูกันข้อมูลของเราหน้าตาเป็นอย่างไร

In [5]:
os.listdir()

['sample_submission.csv', 'training.csv', 'test.csv']

In [8]:
import pandas as pd

train_data = pd.read_csv('training.csv')
train_data.head()

   plaintext_id                                               text  index
0  ID_2ed3c75e8  Saying Bambi 2 is better than the original is ...   1228
1  ID_d51637e35  I detest slapstick and even as a child I could...  22903
2  ID_096b6847e  If you want to see a movie about things that w...  44844
3  ID_3f2297975  The Flesh and the Fiends, also known as Mania,...  10556
4  ID_9431252bd  I am at a loss of words after watching this on...  18562

In [9]:
test_data = pd.read_csv('test.csv')
test_data.head()

  ciphertext_id                                         ciphertext  difficulty
0  ID_4664ddd2f  780 538832 266403 380102 515387 156801 300516 ...           4
1  ID_d382d6a99  4V,[[p[z7=b777!z7}77psl777zbJlbQ7Smm4niTDlU[2l...           3
2  ID_f6479f2ee  }8E U%Weuoc1'8fdsc.:L5DTtKii2RMDV6VpnST264P:[m...           1
3  ID_8e74e7aa9  551242 107638 511349 230559 411 545081 359978 ...           4
4  ID_20187e596  N*VV$-C${E$?H=103EH1a7Ov#l=7Gv#l7!o72l#lQ7o!Ol...           1